
.mainSite {
  display: flex;
  height: 100vh;
  max-width: 1920px;
  position: relative;
  overflow: hidden;
}

.mainSite nav {
  flex-basis: 10%;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 96%,
    rgba(101, 101, 101, 1) 100%
  );
}

.mainSite nav img {
  display: block;
  width: 55%;
  margin: 30% auto;
  transition: 0.2s;
  opacity: 0.6;
}

.mainSite nav img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.mainSite main {
  flex-basis: 90%;
  background-image: url(C:\Users\Bartek\Desktop\Radek\strona-portfolio\src\img\tytułowa\blur-codes-coding-577585.png);
  background-size: cover;
  background-position: top center;
}

.mainSite main img.Me {
  position: absolute;
  top: 20%;
  left: 18%;
  width: 30%;
}

.mainSite main img:first-child {
  position: absolute;
  top: -5%;
  width: 90%;
  opacity: 0.3;
}

.mainSite main div.Hello {
  position: relative;
  top: 23%;
  left: 45%;
  width: 35%;
}
.mainSite main div.Hello img.Stripe {
  position: absolute;
  width: 75%;
  opacity: 0.3;
}

.mainSite main div.Hello img {
  width: 80%;
  margin-left: -11%;
}

.mainSite main div.Hello p {
  color: #eee;
  font-size: 54px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainSite footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.mainSite footer p {
  color: white;
  font-size: 32px;
  opacity: 0.2;
  text-align: center;
}

@media (max-width: 1660px) {
  .mainSite nav img {
    width: 65%;
  }

  .mainSite main img.Me {
    left: 18%;
  }

  .mainSite main div.Hello img.Stripe {
    position: absolute;
    width: 75%;
    opacity: 0.3;
    top: 10%;
  }
}

@media (max-width: 1440px) {
  .mainSite nav img {
    width: 65%;
    margin: 50% auto;
  }
  .mainSite main img:first-child {
    top: -2%;
    width: 92%;
  }

  .mainSite main img.Me {
    top: 25%;
    left: 14%;
    width: 35%;
  }
  .mainSite main div.Hello {
    top: 28%;
    left: 48%;
    width: 40%;
  }

  .mainSite main div.Hello p {
    font-size: 44px;
  }

  .mainSite footer p {
    font-size: 28px;
  }

  .mainSite footer {
    left: 55%;
  }
}

@media (max-width: 1280px) {
  .mainSite nav img {
    width: 70%;
    margin: 55% auto;
  }

  .mainSite main img:first-child {
    top: 0;
  }

  .mainSite main img.Me {
    top: 25%;
    left: 15%;
    width: 35%;
  }
  .mainSite main div.Hello {
    left: 54%;
  }

  .mainSite main div.Hello img.Stripe {
    width: 70%;
    opacity: 0.3;
    top: 15%;
  }

  .mainSite main div.Hello p {
    font-size: 36px;
  }

  .mainSite footer p {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .mainSite nav img {
    width: 75%;
    margin: 70% auto;
  }

  .mainSite main img:first-child {
    right: 0;
    width: 100%;
  }

  .mainSite main img.Me {
    top: 25%;
    left: 10%;
    width: 45%;
  }

  .mainSite main div.Hello img.Stripe {
    width: 90%;
    left: 0;
    top: 15%;
  }

  .mainSite footer p {
    font-size: 24px;
  }
  .mainSite footer img {
    width: 100%;
  }
  .mainSite main div.Hello img {
    width: 95%;
    margin-left: -13%;
  }
}

@media (max-width: 768px) {
  .mainSite nav {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 1;
  }

  .mainSite nav img {
    width: 60%;
    margin: 35% auto;
  }

  .mainSite main {
    flex-basis: 100%;
  }

  .mainSite main img:first-child {
    width: 120%;
  }

  .mainSite main img.Me {
    top: 25%;
    left: 0;
    width: 55%;
  }
  .mainSite main div.Hello {
    top: 28%;
    left: 55%;
  }

  .mainSite main div.Hello img.Stripe {
    width: 120%;
    left: -2%;
    top: 2%;
  }

  .mainSite main div.Hello p {
    font-size: 28px;
  }

  .mainSite footer p {
    font-size: 28px;
  }
  .mainSite footer img {
    width: 100%;
  }
  .mainSite main div.Hello img {
    width: 100%;
  }

  .mainSite footer {
    width: 70%;
  }
}
@media (max-width: 414px) {
  .mainSite nav {
    width: 130px;
    top: 0;
    left: -100%;
  }

  .mainSite nav img {
    margin: 45% auto;
  }

  .mainSite main img:first-child {
    width: 130%;
    right: -1%;
  }

  .mainSite main img.Me {
    top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }
  .mainSite main div.Hello {
    top: 50vh;
    left: 50%;
    width: 60%;
    transform: translate(-50%, 0);
  }

  .mainSite main div.Hello img.Stripe {
    width: 110%;
    left: -2%;
    top: 5%;
  }

  .mainSite main div.Hello p {
    font-size: 30px;
  }

  .mainSite footer p {
    font-size: 20px;
    text-align: center;
  }
  .mainSite footer img {
    width: 100%;
  }
  .mainSite main div.Hello img {
    width: 110%;
  }

  .mainSite footer {
    width: 100%;
    left: 50%;
  }

  .mainSite footer img {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .mainSite nav img {
    margin: 35% auto;
  }

  .mainSite main img.Me {
    width: 80%;
  }
  .mainSite main div.Hello {
    width: 60%;
    top: 50vh;
  }

  .mainSite main div.Hello img.Stripe {
    width: 140%;
  }

  .mainSite main div.Hello p {
    font-size: 30px;
  }

  .mainSite footer p {
    font-size: 20px;
  }
  .mainSite footer img {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .mainSite nav {
    width: 120px;
  }
  .mainSite nav img {
    width: 50%;
    margin: 30% auto;
  }
  .mainSite main div.Hello {
    top: 52vh;
  }

  .mainSite main img.Me {
    width: 80%;
  }
  .mainSite main div.Hello img.Stripe {
    width: 120%;
  }

  .mainSite main div.Hello p {
    font-size: 24px;
  }

  .mainSite footer p {
    font-size: 16px;
  }
}

@media (orientation: landscape) and (max-width: 823px) {
  .mainSite aside {
    width: 120px;
    left: 0%;
    z-index: 1;
  }

  .mainSite nav img {
    width: 60%;
    margin: 35% auto;
  }

  .mainSite main {
    flex-basis: 100%;
  }

  .mainSite main img:first-child {
    width: 90%;
  }

  .mainSite main img.Me {
    top: 10vh;
    left: 10%;
    width: 35%;
  }
  .mainSite main div.Hello {
    top: 15%;
    left: 45%;
  }

  .mainSite main div.Hello img.Stripe {
    width: 90%;
    left: -6%;
    top: 10%;
  }

  .mainSite main div.Hello p {
    font-size: 30px;
  }

  .mainSite footer p {
    font-size: 20px;
  }
  .mainSite footer img {
    width: 100%;
  }
  .mainSite main div.Hello img {
    width: 100%;
  }

  .mainSite footer {
    width: 70%;
  }
}

@media (orientation: landscape) and (max-width: 736px) {
  .mainSite nav {
    width: 100px;
    left: 0%;
    z-index: 1;
  }

  .mainSite nav img {
    width: 45%;
    margin: 25% auto;
  }
  .mainSite main img.Me {
    left: 15%;
    width: 40%;
  }
  .mainSite main div.Hello img.Stripe {
    width: 85%;
    left: -2%;
    top: 10%;
  }

  .mainSite main div.Hello {
    left: 57%;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  .mainSite nav img {
    width: 50%;
    margin: 10% auto;
  }

  .mainSite main div.Hello p {
    font-size: 22px;
  }

  .mainSite footer p {
    font-size: 16px;
  }
  .mainSite main img.Me {
    left: 18%;
    width: 40%;
  }

  .mainSite main div.Hello {
    left: 61%;
    width: 35%;
  }
  .mainSite main div.Hello img.Stripe {
    width: 100%;
  }
}
